<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>testingAjaxServlet</servlet-name>
        <servlet-class>klosterteam.happiness_service.Servlets.TestingAjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>testingAjaxServlet</servlet-name>
        <url-pattern>/testingAjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EventsServlet</servlet-name>
        <servlet-class>klosterteam.happiness_service.Servlets.EventsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventsServlet</servlet-name>
        <url-pattern>/EventsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AboutMeProfileServlet</servlet-name>
        <servlet-class>klosterteam.happiness_service.Servlets.AboutMeProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutMeProfileServlet</servlet-name>
        <url-pattern>/AboutMeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AboutMePreferencesServlet</servlet-name>
        <servlet-class>klosterteam.happiness_service.Servlets.AboutMePreferencesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutMePreferencesServlet</servlet-name>
        <url-pattern>/AboutMePreferencesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>klosterteam.happiness_service.Servlets.MainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>klosterteam.happiness_service.Servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>votingServlet</servlet-name>
        <jsp-file>/Voting.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>votingServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>registration.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            D:\Servers\apache-tomcat-7.0.73\webapps\data1
        </param-value>
    </context-param>

</web-app>
