<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/test_NC</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">qwerty</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        
        <mapping class="klosterteam.hibernate.Categories" />  
        <mapping class="klosterteam.hibernate.Event_types" />  
        <mapping class="klosterteam.hibernate.Events" />  
        <mapping class="klosterteam.hibernate.Gift_history" />  
        <mapping class="klosterteam.hibernate.Gifts" />    
        <mapping class="klosterteam.hibernate.Logins" />  
        <mapping class="klosterteam.hibernate.Money" />
        <mapping class="klosterteam.hibernate.Roles" />
        <mapping class="klosterteam.hibernate.Users" />  
        <mapping class="klosterteam.hibernate.Vote" />
        <mapping class="klosterteam.hibernate.Departments" />
        <mapping class="klosterteam.hibernate.Preferences" /> 
        <mapping class="klosterteam.hibernate.User_vote" />     
        <mapping class="klosterteam.hibernate.Passwd" />         
    </session-factory>
</hibernate-configuration>